- provide(:title, "About")

-# .x-container.x-main

%h1.like-h1= t('.title')
%div
  %p.like-p= t('.paragraph_1')
  %p.like-p= t('.paragraph_2')
  %p.like-p= t('.paragraph_3')
  %p.like-p= t('.paragraph_4')
