- provide(:title, "Help")

-# .x-container.x-main
%h1.like-h1= t('.title')

%div
  %p.like-p= t('.paragraph_1')

%h2.like-h2= t('.subtitle')

%ol.like-ol
  %li.like-li= t('.item_1')
  %li.like-li= t('.item_2')
  %li.like-li= t('.item_3')
  %li.like-li= t('.item_4')
  %li.like-li= t('.item_5')
  %li.like-li= t('.item_6')
