= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation.x-form__errors
      %h3.like-h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul.x-form__errors-list
        - @user.errors.full_messages.each do |msg|
          %li.x-form__error= msg

  .x-form__fields
    .x-form__item
      = f.label t('.name'), class: 'x-form__label'
      = f.text_field :name, class: 'x-form__field'
    .x-form__item
      = f.label t('.email'), class: 'x-form__label'
      = f.text_field :email, class: 'x-form__field'
    .x-form__item
      = f.label t('.password'), class: 'x-form__label'
      = f.password_field :password, class: 'x-form__field'
    .x-form__item
      = f.label t('.password_confirmation'), class: 'x-form__label'
      = f.password_field :password_confirmation, class: 'x-form__field'
    .x-form__actions
      = f.submit t('.create_account'), class: 'x-button'
