.x-dashboard
  .x-dashboard__avatar
    = gravatar_for @user
  %ul.x-dashboard__info
    %li.x-dashboard__info-item
      = t('.name')
      =':'
      = @user.name

    %li.x-dashboard__info-item
      = t('.email')
      =':'
      = @user.email

%button.x-button=t('.start')
