.x-work
  %h2.like-h2.js-theme-title #{@selected_theme}
  .x-work__wrapper
    .x-work__slider
      %span.x-work__image-name.js-image-name #{@selected_image_name}
      .x-work__arrow.x-work__arrow--left.js-arrow-left
      .js-image
        %img.x-work__image{:alt => "Default Image", :src => 'assets/pictures/default.png', :title => "Default image"}
      .x-work__arrow.x-work__arrow--right.js-arrow-right
      .x-work__user-value.js-user-value{:title => "Expert value"}
    .x-work__sidebar
      .x-work__button-wrapper.js-select-theme
        = render 'work/button_theme_select', locale: @current_locale
      .x-work__button-wrapper.js-results-button
        = render 'work/button_list_results'
      .x-serbor.is-dark
      %div
        .x-work__common.js-common
          = t('.common_value')
          %span.x-work__common-value.js-common-value
      .x-work__range.js-range
        %span.x-work__range-title= t('.make_decision')
        .x-work__range-slider
          .x-work__range-item 0
          %input{:max => "100", :min => "0", :value => "0",
                       :onchange => "updateSlider(this.value)",
                       :step => "5", :type => "range"}
          .x-work__range-item 100
        .x-work__range-value.js-range-value 0
        %a.x-button.x-button--dark.js-save{"data-remote" => "true", :format => "js", :href => "#", :title => "Save image diag results"}
          = t('.save_decision')
