.-{ title: t('.page_title')}

- if @composite_results.blank?
  %h1.like-h1= t('.no_values')
  %h3.like-h3= t('.select_theme')
- else
  %h1.like-h1= t('.my_ratings')
  %table.x-table
    %tr.x-table__tr
      %th.x-table__th= t('.image_name')
      %th.x-table__th.is-center= t('.image')
      %th.x-table__th.is-center= t('.value')
      %th.x-table__th= t('.date')
    - @composite_results_paged.each do |composite_diag|
      %tr.x-table__tr
        %td.x-table__td= composite_diag.name
        %td.x-table__td.is-center= image_tag('/assets/pictures/' + composite_diag.file, class: 'x-table__image' )
        %td.x-table__td.is-center= composite_diag.ave_value
        %td.x-table__td= composite_diag.created_at.strftime('%d.%m.%y')
  = paginate @composite_results_paged

= link_to t('.return_to_main'), work_path,  class: 'x-button'
